*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dark {
  background-color: #383838;
  padding: 10px; 
}
.lightGray  {
  background-color: rgb(211, 205, 205); 
  padding: 10px;     
}

.medium-dark {
  background-color: #316d9d; 
  padding: 10px;
}

.gOne{
  background: linear-gradient(to left, #5d1ca3ce, #215ec7a0);
  padding: 10px;
}

.gTwo{
  background: linear-gradient( to right, #d4694e9e, #d69868ca);
  padding: 10px;
}

.moreG{
  background: linear-gradient(to right, #ff7e5f, #feb47b, #86a8e7, #91eae4,#fbc2eb);
  padding: 10px;
}

.active{
  transform: scale(1.2);
}